{% extends 'website/templates/base.html' %}

{% block container %}
<div class="wrapper">
    <div class="pull-left">
        <h3 class="brand">Simple ToDo</h3>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary" href="">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Task
        </a>
        <a href="{% url 'user_logout' %}">Logout</a>
    </div>
    <div class="clearfix"></div>

    <br><br>

    <div class="primary">
        <div class="time-filter">
            <i>Filter by:</i> Day / Week / Month
        </div> <!-- .time-filter -->

        <br>

        <table class="table table-bordered table-hover">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Descp</th>
                <th>Due Date</th>
                <th>Quick Actions</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Milk</td>
                <td>More milk</td>
                <td>23rd jan</td>
                <td>
                    <a href=""><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>&nbsp;
                    <a href=""><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>&nbsp;
                    <a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>&nbsp;
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Milk</td>
                <td>More milk</td>
                <td>23rd jan</td>
                <td>
                    <a href=""><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>&nbsp;
                    <a href=""><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>&nbsp;
                    <a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>&nbsp;
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Milk</td>
                <td>More milk</td>
                <td>23rd jan</td>
                <td>
                    <a href=""><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>&nbsp;
                    <a href=""><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>&nbsp;
                    <a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>&nbsp;
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Milk</td>
                <td>More milk</td>
                <td>23rd jan</td>
                <td>
                    <a href=""><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>&nbsp;
                    <a href=""><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>&nbsp;
                    <a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>&nbsp;
                </td>
            </tr>
            </tbody>
        </table>
    </div> <!-- .primary -->
</div> <!-- .wrapper -->
{% endblock %}
